/*letz make a portfolio :)*/

.div {
    /*display: block;*/
}

a {
    color: #373737;


}

a:hover{

    text-decoration: none;
    color: #858585;
}


.body_style {
    font-family: futura;
        /*display: block;*/
    	/*margin: 60px;*/


}

.menu_outside {
	    /*width: 334px;*/
    /*margin-top: 20px;*/
    /*padding: 50px 5px 0px 380px;*/
    padding: 50px 50px 0px 50px;
    
    display: block;


}



.menu_link {
    /*font: bold 12px/18px sans-serif;
    display: inline-block;*/
    /*margin-right: -4px;*/
    /*position: relative;*/
    /*padding: 50px 50px 0px 50px;*/
    /*background: #fff;
    cursor: pointer;*/
    display: inline-block;
}

/*.menu_link a {
    color: #373737;
    text-decoration: none;
}*/
